<%- include('partials/head.ejs')%>

<form action="/add-user" method="post">
    <input type="text" name="username">
    <button type="submit">Add User</button>
</form>

<%- include('partials/end.ejs') %>